.curMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centeredItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tableContainer {
    width: 40%; /* Adjust this value to make the table smaller */
    margin: 0 auto; /* Center the container horizontally */
}